$main-blue: #81b3d2;
$advantage-colour: #eee;
$form-colour: #f2f2f2;
$error: #ff5c5c;

@mixin container() {
  width: 320px;
  margin: 0 auto;
}

@mixin list-style() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-style($link-color: #000) {
  color: $link-color;
  text-decoration: none;
}

@mixin title($title-color: #000, $line-height: 26px) {
  font: {
    size: 18px;
    weight: bold;
  }
  line-height: $line-height;
  color: $title-color;
}

@mixin common-text($text-color: #333, $line-height: 26px) {
  font: {
    size: 14px;
    weight: normal;
    family: "PT Sans", "Arial", sans-serif;
  }
  line-height: $line-height;
  color: $text-color;
  text-transform: uppercase;
}

@mixin photo-text($font-weight: normal, $text-color: #333) {
  font: {
    size: 14px;
    weight: $font-weight;
  }
  line-height: 24px;
  color: $text-color;
}

@mixin btn-body($btn-width: 320px, $btn-height: 53px) {
  width: $btn-width;
  height: $btn-height;
  text-align: center;
  background-color: $main-blue;
  border: none;
}

@mixin btn-text() {
  position: relative;
  top: 9px;
  font: {
    size: 18px;
    weight: bold;
    family: "PT Sans", "Arial", sans-serif;
  }
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 16px 50px;
}
