@mixin container() {
  width: 320px;
  margin: 0 auto;
  @media (min-width: #{$tablet-width}) {
    width: 648px;
  }
  @media (min-width: #{$desktop-width}) {
    width: 960px;
  }
}

@mixin list-style() {
  margin: 0;
  padding: 0;
  list-style: none;
}
