*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font: {
    size: 14px;
    weight: normal;
    family: "PT Sans", "Arial", sans-serif;
  }
  line-height: 1.9;
  color: #333;
  text-transform: uppercase;
  margin: 0;
}
