.advantage {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  color: #fff;
}

.advantage__wrapper {
  // min-height: 209px;
  text-align: center;
  background-color: $main-blue;
  &--small {
    // min-height: 191px;
  }
}

.advantage__wrapper--triangle {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -21px;
    left: 0;
    width: 320px;
    height: 37px;
    background: url("../img/bg-triangle-small.png") no-repeat;
  }
}

.advantage__title {
  position: relative;
  padding-bottom: 28px;
  margin-top: 55px;
  margin-bottom: 19px;
  &:not(.advantage__title--list)::after {
    content: "— №" counter(number) " —";
    counter-increment: number;
    position: absolute; //why then not to keep it in html
    bottom: -3px;
    left: 134px;
    font-size: 14px;
    font-weight: normal;
  }
}

.advantage__wrapper--small .advantage__title {
  margin-top: 39px;
}

.advantage__description {
  padding: 0 20px;
  margin-bottom: 39px;
}

.advantage--small {
  position: relative;
  min-height: 168px;
  text-align: center;
  line-height: 1.6;
  color: #333;
  background-color: $advantage-colour;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 280px;
    height: 1px;
    background-color: $divider-dark;
  }
}

.advantage--small:last-of-type::after {
    display: none;
}

.advantage--small .advantage__title {
  color: #000;
  margin-top: 28px;
  margin-bottom: 3px;
}

.advantage--small .advantage__description {
  padding: 0 35px;
  margin-bottom: 21px;
}

.advantage__title {
  font: {
    size: 18px;
    weight: bold;
  }
  line-height: 1.4;
  color: #fff;
  &--list {
    color: #000;
  }
}

// .advantage__list-title {
//   color: #000;
// }

.advantage__list {
  @include list-style;
  padding-left: 70px;
  padding-right: 35px;
  margin: 35px 0 8px 0;
}

.advantage__list-item {
  position: relative;
  @include list-style;
}

.advantage__list-item {
  &::before {
    content: "";
    position: absolute;
  }
  &--accomodation::before {
    top: -10px;
    left: -50px;
    width: 39px;
    height: 37px;
    background: url("../img/icon-house.svg") no-repeat;
    background-size: cover;
    fill: blue;
  }
  &--souvenir::before {
    top: -11px;
    left: -46px;
    width: 32px;
    height: 38px;
    background: url("../img/icon-gift.svg") no-repeat;
    background-size: cover;
    fill: blue;
  }
  &--food::before {
    top: -5px;
    left: -52px;
    width: 40px;
    height: 35px;
    background: url("../img/icon-burger.svg") no-repeat;
    background-size: cover;
    fill: blue;
  }
}

.advantage__list-description {
  line-height: 1.5;
  color: #333;
  margin-top: 15px;
  margin-bottom: 28px;
}

// for now
.advantage-counter {
  counter-reset: number;
}
