.find-us {
  position: relative;
  display: flex;
  width: 320px;
  &::after {
    content: "";
    position: absolute;
    top: 211px;
    left: 146px;
    width: 27px;
    height: 27px;
    background: url("../img/icon-map-marker.svg") no-repeat center;
  }
}

.find-us__map {
  margin-top: 49px;
}

@media (min-width: #{$tablet-width}) {
  .find-us {
    width: 100%;
    &::after {
      top: 221px;
      left: 370px;
    }
  }

  .find-us__map {
    width: 100%;
    margin-top: 58px;
  }
}

@media (min-width: #{$desktop-width}) {
  .find-us::after {
    top: 228px;
    left: 587px;
  }

  .find-us__map {
    margin-top: 66px;
  }
}
