//PADDINGS FOR A DIVIDER
.form__section {
  position: relative;
  padding: 0 20px;
  margin: 0;
  border: none;
  &--personal {
    padding-bottom: 6px;
  }
  &--contacts {
    padding-bottom: 12px;
  }
  &--radio {
    padding-bottom: 3px;
  }
  &--checkboxes {
    padding-bottom: 45px;
  }
  &--review {
    margin-bottom: 32px;
  }
}

.form__section:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 1px;
  background-color: $divider;
}

// TITLE
.form__title {
  font: {
    size: 18px;
    weight: bold;
  }
  line-height: 1.5;
  color: #000;
  text-align: center;
  padding-top: 16px;
  margin-bottom: 20px;
}

.form__section--contacts .form__title {
  padding-top: 14px;
}

.form__section--radio .form__title {
  padding-top: 18px;
  margin-bottom: 36px;
}

.form__section--checkboxes .form__title {
  padding-top: 16px;
  margin-bottom: 30px;
}

.form__section--review .form__title {
  margin-bottom: 18px;
}

// INPUT PAIR POSITIONING
.form__input-pair {
  display: flex;
  &--left {
    justify-content: space-between;
    align-items: center;
  }
  &--position-top {
    flex-direction: column;
    position: relative; /*privisional*/
    margin-bottom: 20px;
  }
}

// LABEL
.form__label {
  position: relative;
}

.form__input-pair--left .form__label {
  padding-bottom: 16px;
}

.form__input-pair--position-top .form__label {
  margin-left: 22px;
  margin-bottom: 7px;
}

.form__label--icon {
  width: 222px;
  &::before {
    content: "";
    position: absolute;
    top: 33px;
    right: -35px;
    width: 57px;
    height: 57px;
    background-color: #e6e6e6;
    z-index: 1;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
  }
}

.form__label {
  &--phone::after {
    top: 54px;
    right: -18px;
    width: 18px;
    height: 18px;
    background: url("../img/icon-phone.svg") no-repeat;
    background-size: cover;
  }
  &--mail::after {
    top: 55px;
    right: -15px;
    width: 16px;
    height: 14px;
    background: url("../img/icon-mail.svg") no-repeat;
    background-size: cover;
  }
}

// INPUT
.form__input {
  position: relative;
  width: 230px;
  height: 57px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  font-family: inherit;
  border: none;
  background-color: $form-colour;
  margin-bottom: 22px;
  &::placeholder {
    color: #000;
    padding-left: 21px;
  }
  &--small {
    width: 191px;
  }
}

.form__section--contacts .form__input:last-child {
  margin-bottom: 0;
}

.form__section--checkboxes .form__input:last-child {
  margin-bottom: 0;
}

.form__section--radio .form__input:last-child {
  margin-bottom: 0;
}

.form__input-pair:last-child .form__checkbox-label {
  margin-bottom: 0;
}

// .form__section:last-of-type {
//   margin-bottom: 32px;
// }

/*provisional*/
.form__error {
  position: absolute;
  top: 82px;
  left: 21px;
  color: $error;
  text-transform: none;
}

.form__radio-label,
.form__checkbox-label {
  position: relative;
  font: {
    size: 18px;
    weight: bold;
  }
  line-height: 1.5;
  color: #000;
  text-transform: none;
}

// RADIO TICKS
.form__radio-btn {
  opacity: 0;
}

.form__radio-label {
  position: relative;
  padding-left: 78px;
  margin-bottom: 42px;
  margin-left: -20px;
  &::before {
    content: "";
    position: absolute;
    top: -50%;
    left: 0;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: $form-colour;
  }
  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 17px;
    width: 21px;
    height: 21px;
    background-color: #000;
    border-radius: 50%;
  }
}

// CHECKBOX TICKS
.form__checkbox-btn {
  opacity: 0;
}

.form__checkbox-label {
  position: relative;
  padding-left: 79px;
  margin-left: -20px;
  margin-bottom: 52px;
  &::before {
    content: "";
    position: absolute;
    top: -11px;
    left: 0;
    height: 54px;
    width: 54px;
    border-radius: 10%;
    background-color: $form-colour;
  }
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 17px;
    width: 24px;
    height: 16px;
    background: url("../img/icon-tick.svg") no-repeat;
  }
}

// TEXTAREA
.form__review-field {
  box-sizing: content-box;
  width: 252px;
  height: 130px;
  font: {
    size: 18px;
    weight: bold;
  }
  line-height: 1.5;
  font-family: inherit;
  border: none;
  background-color: $form-colour;
  padding: 0;
  padding: 13px 6px 15px 20px;
}
