.popup {
  position: relative;
  width: 320px;
  margin: 0 auto;
  z-index: 1;
}

.modal-content {
  position: absolute;
  @include container;
  // outline: 1px solid #333; /*provisional*/
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  &--error {
    top: -1037px;
    left: 2px;
  }
  &--success {
    top: -708px;
    left: 2px;
  }
}

@keyframes lift-up {
    0% {transform: translateY(400px);} //is it correct?
    100% {transform: translateY(0px);}
}

.modal-content--show {
  display: block;
  animation: lift-up 0.6s;
}

.modal-content__wrapper {
  text-align: center;
  padding-top: 40px;
}

.modal-content__title {
  font: {
    size: 18px;
    weight: bold;
  }
  line-height: 1.5;
  color: #000;
  margin-bottom: 30px;
}

.modal-content__description {
  line-height: 1.75;
  padding: 0 50px;
  margin-top: 25px;
  margin-bottom: 23px;
}

.modal-content--success .modal-content__description {
  margin-bottom: 35px;
}

.modal-content--success .modal-content__wrapper {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 320px;
    height: 98px;
    background-color: $form-colour;
    z-index: -1;
  }
}

@media ($tablet) {
  .popup {
    width: 768px;
  }

  .modal-content {
    background-color: #fff;
    z-index: -1;
    &--error {
      left: 182px;
      width: 400px;
    }
    &--success {
      top: -641px;
      left: 64px;
      width: 640px;
    }
  }

  .modal-content--success .modal-content__wrapper::before {
      width: 100%;
      height: 146px;
  }

  .modal-content__wrapper {
    padding: 40px 10px 0;
  }

  .modal-content__title {
    display: inline-block;
    font-size: 30px;
    padding: 0 31px;
    margin-bottom: 0;
  }

  .modal-content__description {
    margin-bottom: 49px;
  }

  .modal-content--success .modal-content__description {
    padding: 0 55px;
    margin-bottom: 55px;
  }
}
