.modal-content {
  @include container;
  outline: 1px solid #333; /*provisional*/
}

.modal-content__wrapper {
  text-align: center;
  padding-top: 40px;
}

.modal-content__title {
  font: {
    size: 18px;
    weight: bold;
  }
  line-height: 1.5;
  color: #000;
  margin-bottom: 30px;
}

.modal-content__description {
  line-height: 1.75;
  padding: 0 50px;
  margin-top: 25px;
  margin-bottom: 23px;
}

.modal-content--success .modal-content__description {
  margin-bottom: 35px;
}

.modal-content--success {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 320px;
    height: 98px;
    background-color: $form-colour;
    z-index: -1;
  }
}

@media (min-width: #{$tablet-width}) {
  .modal-content {
    background-color: #fff;
    z-index: -1;
    &--error {
      width: 400px;
    }
    &--success {
      width: 640px;
    }
    &--success::before {
      width: 100%;
      height: 146px;
    }
  }

  .modal-content__wrapper {
    padding: 40px 10px 0;
  }

  .modal-content__title {
    display: inline-block;
    font-size: 30px;
    padding: 0 31px;
    margin-bottom: 0;
  }

  .modal-content__description {
    margin-bottom: 49px;
  }

  .modal-content--success .modal-content__description {
    padding: 0 55px;
    margin-bottom: 55px;
  }
}
