.btn-real {
  width: 280px;
  height: 53px;
  text-align: center;
  background-color: $main-blue;
  border: none;
  font: {
    size: 18px;
    weight: bold;
    family: "PT Sans", "Arial", sans-serif;
  }
  line-height: 2;
  color: #fff;
  text-transform: uppercase;
  margin: 0 20px;
  &--submit {
    font-size: 21px;
  }
  &-error {
    width: 180px;
    margin: 0;
    margin-bottom: 35px;
  }
  &--success {
    margin-bottom: 20px;
  }
}
