.btn {
  width: 280px;
  min-height: 53px;
  text-align: center;
  background-color: $main-blue;
  border: none;
  font: {
    size: 18px;
    weight: bold;
    family: inherit;
  }
  line-height: 2;
  color: #fff;
  text-transform: uppercase;
  margin: 0 20px;
  padding: 0;
  &--submit {
    height: 57px;
    font-size: 21px;
    margin-top: 52px;
  }
  &--error {
    width: 180px;
    height: 57px;
    margin: 0;
    margin-bottom: 35px;
  }
  &--success {
    height: 56px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.btn {
  cursor: pointer;
  &:hover {
    background-color: $btn-hover;
  }
  &:active {
    background-color: $btn-active;
  }
  &:disabled {
    background-color: $btn-disabled;
  }
}

.btn--text-wrap:active {
  opacity: 0.3;
}

@media ($tablet) {
  .btn {
    &--submit {
      margin: 0;
      margin-top: 58px;
      width: 50%;
    }
    &--error {
      width: 272px;
      margin-bottom: 49px;
    }
    &--success {
      width: 458px;
      margin-bottom: 44px;
    }
  }
}
