.find-us {
  position: relative;
  display: flex;
  width: 320px;
  padding-top: 49px;
}

.find-us__map {
  width: 320px;
  height: 350px;
  background: url("../img/bg-map-mobile@1x.jpg") no-repeat center;
  @media ($retina) {
    background: url("../img/bg-map-mobile@2x.jpg") no-repeat center;
  }
}

@media ($tablet) {
  .find-us {
    width: 100%;
    padding-top: 58px;
  }

  .find-us__map {
    width: 100%;
    background: url("../img/bg-map-tablet@1x.jpg") no-repeat center;
    @media ($retina) {
      background: url("../img/bg-map-tablet@2x.jpg") no-repeat center;
    }
  }
}

@media ($desktop) {
  .find-us {
    padding-top: 66px;
  }

  .find-us__map {
    background: url("../img/bg-map-desktop@1x.jpg") no-repeat center;
    @media ($retina) {
      background: url("../img/bg-map-desktop@2x.jpg") no-repeat center;
    }
  }
}
