.hero-image {
  @include container;
  position: relative;
  top: -28px;
  width: 320px;
  height: 158px;
  background: $main-blue url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 100%;
  @media ($retina) {
      background: $main-blue url("../img/bg-back-mobile@2x.jpg") no-repeat 50% 100%;
  }
  &::after {
    content: "";
    position: absolute;
    top: 51px;
    right: 44px;
    width: 232px;
    height: 39px;
    background: url("../img/text-sedona.svg") no-repeat center;
    background-size: cover;
  }
}

.hero-image--full {
  height: 389px;
  background-position: 50% 50%;
  &::after {
    content: "";
    position: absolute;
    top: 90px;
    right: 19px;
    width: 282px;
    height: 214px;
    background: url("../img/text-sedona-index.svg") no-repeat center;
    background-size: cover;
  }
}

.hero-image__triangle {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 320px;
  height: 57px;
  background: url("../img/bg-intro-triangle-mobile.svg") no-repeat center;
  background-size: cover;
}

@media ($tablet) {
  .hero-image {
    top: 0;
    width: 768px;
    height: 290px;
    background: $main-blue url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 100%;
    @media ($retina) {
      background: $main-blue url("../img/bg-back-tablet@2x.jpg") no-repeat 50% 100%;
    }
    &::after {
      top: 93px;
      right: 154px;
      width: 458px;
      height: 78px;
    }
  }

  .hero-image--full {
    height: 518px;
    &::after {
      top: 77px;
      right: 154px;
      width: 460px;
      height: 350px;
    }
  }

  .hero-image__triangle {
    bottom: 0;
    left: 0;
    width: 768px;
    background: url("../img/bg-intro-triangle-tablet.svg") no-repeat center;
  }
}

@media ($desktop) {
  .hero-image {
    width: 1200px;
    background: $main-blue url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 100%;
    @media ($retina) {
      background: $main-blue url("../img/bg-back-desktop@2x.jpg") no-repeat 50% 100%;
    }
    &::after {
      top: 102px;
      right: 370px;
    }
  }

  .hero-image:not(.hero-image--full) {
    height: 300px;
  }

  .hero-image--full::after {
    top: 77px;
    right: 370px;
  }

  .hero-image__triangle {
    width: 1200px;
    background: url("../img/bg-intro-triangle-desktop.svg") no-repeat center;
  }
}
