.hero-image {
  position: relative;
  top: -28px;
  width: 320px;
  height: 158px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 100%;
}

.hero-image--full {
  height: 389px;
  background-position: 50% 50%;
}
