.hotel-search {
  text-align: center;
}

.hotel-search__title {
  font: {
    size: 21px;
    weight: bold;
  }
  line-height: 1.4;
  display: block;
  margin-top: 24px;
  margin-bottom: 18px;
}

.hotel-search__description {
  line-height: 1.75;
  padding: 0 20px;
  margin-bottom: 35px;
}

.hotel-search__btn {
  width: 280px;
  min-height: 58px;
  text-align: center;
  margin: 0 auto;
  background-color: $main-blue;
  &:hover {
    background-color: $btn-hover;
  }
  &:active {
    background-color: $btn-active;
  }
}

.hotel-search__btn a {
  display: inline-block;
  font: {
    size: 21px;
    weight: bold;
  }
  line-height: 2;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 8px 45px;
  &:active {
    opacity: 0.3;
  }
}

.hotel-search__btn--disabled {
  background-color: $btn-disabled;
}

@media ($tablet) {
  .hotel-search__title {
    font-size: 30px;
    margin-top: 48px;
    margin-bottom: 22px;
  }

  .hotel-search__btn {
    width: 458px;
  }

  .hotel-search__description {
    padding: 0 180px;
    margin-bottom: 42px;
  }
}

@media ($desktop) {
  .hotel-search__description {
    padding: 0 400px;
    margin-bottom: 47px;
  }
}
