.main-nav {
  @include container;
}

.main-nav__items {
  @include list-style;
}

.main-nav__item {
  @include btn-body(320px, 56px);
}

.main-nav__nav-bar {
  display: flex;
  justify-content: space-around;
  width: 320px;
}

.main-nav__toggle {
  width: 23px;
  height: 21px;
}
