.page-intro {
  text-align: center;
  padding: 0 10px;
}

.page-intro__title {
  font: {
    size: 18px;
    weight: bold;
  }
  line-height: 1.45;
  color: #000;
  margin-top: 10px;
  margin-bottom: 25px;
  &--main {
    margin-bottom: 28px;
  }
}

.page-intro__description:not(.page-intro__description--main) {
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -10px;
    width: 320px;
    height: 1px;
    background-color: $divider;
  }
}

.page-intro__description {
  position: relative;
  margin-bottom: 26px;
  &--form {
    line-height: 1.75;
    padding-bottom: 20px;
    margin-bottom: 0;
  }
  &--photo {
    line-height: 1.8;
    padding-bottom: 25px;
    margin-bottom: 0;
  }
}
