@media ($tablet) {
  .page-shadow {
    width: 768px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  }
}

@media ($desktop) {
  .page-shadow {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  }
}
