.page-header__logo {
  position: absolute;
  width: 102px;
  height: 83px;
  z-index: 1;
}

@media (min-width: #{$tablet-width}) {
  .page-header__logo {
    display: flex;
    justify-content: space-around;
    top: -57px;
    left: auto;
    right: auto;
    width: 20%;
  }
}
