.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include container;
  text-align: center;
  padding-bottom: 23px;
  margin-top: 35px;
}

.page-footer__hash-tag {
  display: inline-block;
  font: {
    size: 21px;
    weight: bold;
  }
  line-height: 1.4;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 38px;
  margin-bottom: 35px;
  &--main {
    margin-top: 0px;
  }
}

.page-footer__social {
  align-self: center;
  @include list-style;
  margin-bottom: 30px;
}

.page-footer__copyright {
  margin-top: 9px;
}

.page-footer__copyright-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
  padding-left: 10px;
  vertical-align: middle;
}

.page-footer__copyright-svg {
  &:hover {
    fill: $main-blue;
  }
  &:active {
    fill: #000;
    opacity: 0.3;
  }
}

@media ($tablet) {
  .page-footer__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 65px;
    &--photo {
      // margin-top: 24px;
      margin-top: 45px;
    }
    &--main {
      margin-top: 3px;
    }
  }

  .page-footer__hash-tag {
    margin-top: 40px;
  }
  &--main {
    margin-top: 10px;
  }

  .page-footer__copyright {
    align-self: center;
    margin-bottom: 0;
  }

  .page-footer__wrapper--main .page-footer__copyright {
    margin-top: 14px;
  }
}

@media ($desktop) {
  .page-footer {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    // box-shadow: 0 9px 15px -1px rgba(0, 0, 0, 0.2);
  }

  .page-footer__wrapper {
    width: 100%;
    padding: 70px 44px 12px 133px;
    margin-top: 0;
    &--main {
      padding-top: 3px;
    }
    &--photo {
      padding-top: 22px;
      margin-top: 67px;
    }
    &--form {
      width: 960px;
      padding: 69px 0 23px 0;
    }
  }

  .page-footer__copyright-link {
      padding-top: 4px;
  }

  .page-footer__wrapper--form .page-footer__hash-tag {
    padding-left: 12px;
  }

  .page-footer__wrapper--form .page-footer__copyright {
    // padding-right: 40px;
    margin-top: 7px;
  }
}
