.photo {
  padding-top: 23px;
}

.photo a {
  cursor: pointer;
}

.photo__img {
  background-color: $photo-colour;
  @media (max-width: 767px) {
    width: 280px;
    height: 280px;
  }
}

.photo__information {
  padding-top: 8px;
}

.photo__title {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  margin-top: 6px;
  margin-bottom: 0;
}

.photo__author {
  line-height: 1.5;
  text-transform: none;
  margin-top: 0px;
  margin-bottom: 8px;
}

.photo__like {
  width: 23px;
  height: 21px;
  border: none;
  background: url("../img/icon-like.svg") no-repeat center;
  opacity: 0.3;
  cursor: pointer;
}

.photo__likes-counter {
  font-weight: bold;
  margin-left: 10px;
  line-height: 1.5;
}

@media ($tablet) {
  .photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 324px;
    border-bottom: none;
    padding: 0;
    background-color: $photo-colour;
    &--full {
      width: 648px;
      margin-top: 42px;
      background-color: $photo-colour;
    }
  }

  .photo:nth-child(2n + 3) {
    background-color: $photo-colour2;
  }

  .photo__information {
    padding-top: 0;
  }

  .photo__title {
    padding-top: 15px;
    padding-left: 21px;
    margin-top: 0;
  }

  .photo__author {
    padding-bottom: 18px;
    padding-left: 20px;
    margin-bottom: 0;
  }

  .photo__social-btn {
    align-self: center;
    margin-right: 29px;
  }

  .photo--full .photo__social-btn {
    margin-right: 20px;
  }

  .photo__likes-counter {
    margin-left: 6px;
  }
}

@media ($desktop) {
  .photo {
    width: 400px;
    position: relative;
    &--full {
      width: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80px;
      background-color: #000;
      opacity: 0.3;
    }
  }

  .photo__title {
    color: #fff;
  }

  .photo__information {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
  }

  .photo__social-btn {
    position: absolute;
    bottom: 27px;
    right: 0;
    color: #fff;
  }

  .photo__like {
    background: url("../img/icon-like-white.svg") no-repeat center;
    opacity: 1;
  }
}
