.video {
  text-align: center;
}

.video__title {
  display: block;
  font: {
    size: 18px;
    weight: bold;
  }
  line-height: 1.5;
  color: #000;
  margin-top: 33px;
}

.video__description {
  line-height: 1.8;
  margin: 25px 20px 33px 28px;
}

.video__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.video__progress-bar {
  position: absolute;
  bottom: 66px;
  width: 280px;
  height: 45px;
  background-color: #000;
  opacity: 0.6;
  margin: 0 20px;
}

.video__range {
  width: 235px;
  display: none;
}

.video__range-plug {
  position: relative;
}

.video__bar {
  position: absolute;
  bottom: 20px;
  left: 42px;
  width: 235px;
  height: 3px;
  background-color: #fff;
  z-index: 100;
  opacity: 0.2;
}

.video__toggle {
  position: absolute;
  bottom: 17px;
  left: 78px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #fff;
}

.video__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 66px;
  padding: 0 23px 0 25px;
  margin: 0 20px;
  background-color: #f2f2f2;
}

.video__btn {
  border: none;
  cursor: pointer;
  &--repeat {
    width: 16px;
    height: 20px;
    background: url("../img/icon-video-replay.svg") no-repeat center;
  }
  &--subtitles {
    width: 32px;
    height: 20px;
    // margin-left: 102px;
    margin-left: auto;
    margin-right: 31px;
    background: url("../img/icon-video-subtitles.svg") no-repeat center;
  }
  &--expand{
    width: 20px;
    height: 20px;
    background: url("../img/icon-video-fullscreen.svg") no-repeat center;
  }
}

@media (min-width: #{$tablet-width}) {
  .video__container {
    display: flex;
  }

  .video__video-player {
    margin: 0 auto;
  }

  .video__title {
    font-size: 30px;
    margin-top: 57px;
  }

  .video__description {
    margin: 21px 50px 25px 50px;
  }

  .video__video-player {
    width: 648px;
    height: 499px;
  }

  .video__progress-bar {
    bottom: 19px;
    align-self: center;
    width: 648px;
    height: 93px;
    opacity: 0.6;
    margin: 0;
  }

  .video__range-plug {
    align-self: center;
    width: 648px;
  }

  .video__bar {
    left: 92px;
    bottom: -2px;
    width: 390px;
  }

  .video__toggle {
    left: 206px;
    bottom: -5px;
  }

  .video__controls {
    position: relative;
    bottom: 11px;
    align-items: flex-start;
    align-self: center;
    width: 648px;
    padding: 0 41px 0 35px;
    margin: 0;
    background-color: transparent;
  }
}

@media (min-width: #{$desktop-width}) {
  .video__title {
    margin-top: 61px;
  }

  .video__description {
    padding: 0 300px;
    margin-bottom: 69px;
  }

  .video__video-player {
    width: 800px;
    height: 500px;
  }

  .video__progress-bar {
    width: 800px;
    bottom: 65px;
  }

  .video__range-plug {
    width: 800px;
  }

  .video__bar {
    bottom: 45px;
    width: 540px;
  }

  .video__toggle {
    bottom: 42px;
    left: 204px;
  }

  .video__controls {
    bottom: 58px;
    width: 800px;
  }
}
