.video {
  text-align: center;
}

.video__title {
  display: block;
  font: {
    size: 18px;
    weight: bold;
  }
  line-height: 1.5;
  color: #000;
  margin-top: 33px;
}

.video__description {
  line-height: 1.8;
  margin: 25px 20px 33px 28px;
}

.video__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.video__progress-bar {
  position: absolute;
  top: 156px;
  width: 280px;
  height: 45px;
  background-color: #000;
  opacity: 0.6;
  margin: 0 20px;
}

.video__range {
  width: 235px;
  display: none;
}

.video__range-plug {
  position: relative;
}

.video__bar {
  position: absolute;
  bottom: 20px;
  left: 42px;
  width: 235px;
  height: 3px;
  background-color: #fff;
  z-index: 100;
  opacity: 0.2;
}

.video__toggle {
  position: absolute;
  bottom: 17px;
  left: 78px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #fff;
}

.video__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 66px;
  padding: 0 23px 0 25px;
  margin: 0 20px;
  background-color: #f2f2f2;
}

.video__btn {
  border: none;
  &--repeat {
    width: 16px;
    height: 20px;
    background: url("../img/icon-video-replay.svg") no-repeat center;
  }
  &--subtitles {
    width: 32px;
    height: 20px;
    // margin-left: 102px;
    margin-left: auto;
    margin-right: 31px;
    background: url("../img/icon-video-subtitles.svg") no-repeat center;
  }
  &--expand{
    width: 20px;
    height: 20px;
    background: url("../img/icon-video-fullscreen.svg") no-repeat center;
  }
}
